<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .btn{
                background-color: green;
            }
            .btn.off{
                background-color: white;
                color: black;
            }
        </style>
    </head>
    <body>
        <h1>My Website</h1>
       
        <form action="/execute" method ="post">
            <button type="button">Click Me!</button>
            <button type="submit" class="btn off" id="MyBtn">Click Me2!</button> 
        </form>
        <script>
            document.getElementById("MyBtn").addEventListener("click", function(event){
                event.preventDefault();

                if (this.classList.contains("off")){
                    this.classList.remove("off")
                }else{
                    this.classList.add("off")
                }
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/execute", true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
                xhr.onload = function(){
                    if (xhr.status==200){
                        console.log(xhr.responseText);
                    }
                };
                xhr.send();
            });
        </script>
    </body>
</html>